In [23]:
import pickle as pkl
from sentence_transformers import SentenceTransformer
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
from nltk import  pos_tag
import re

In [ ]:
def text_exists(query_lst,text):
    temp_lst = []
    for qr in query_lst:
        lst = re.findall(qr.lower(), text)
        if len(lst) >0:
            temp_lst.append(1)
        else:
            temp_lst.append(0)
    return temp_lst

In [86]:
df = pd.read_csv("../files/preprocessed_articles.csv")
with open('../files/embeddings.pickle.pkl', 'rb') as f:
    embedding_bert = pkl.load(f)

In [36]:
query = input("Enter your query: ")

In [37]:
query_lst = [wrd for wrd, tag in pos_tag(query.split(" ")) if tag in ['NNP','NN']]

In [87]:
query_lst

['information', 'Peru']

In [88]:
df

                                                    text
0      world news in brief sandstorm alert albinism a...
1      world news in brief sandstorm alert albinism a...
2      world news in brief sandstorm alert albinism a...
3      world news in brief sandstorm alert albinism a...
4      world news in brief sandstorm alert albinism a...
...                                                  ...
15862  concerns of island nations top final session o...
15863  concerns of island nations top final session o...
15864  concerns of island nations top final session o...
15865  concerns of island nations top final session o...
15866  concerns of island nations top final session o...

[15867 rows x 1 columns]

In [89]:
df['Exists'] = df["text"].apply(lambda x: text_exists(query_lst, x))

In [92]:
df

                                                    text  Exists
0      world news in brief sandstorm alert albinism a...  [0, 1]
1      world news in brief sandstorm alert albinism a...  [0, 1]
2      world news in brief sandstorm alert albinism a...  [0, 1]
3      world news in brief sandstorm alert albinism a...  [0, 1]
4      world news in brief sandstorm alert albinism a...  [0, 1]
...                                                  ...     ...
15862  concerns of island nations top final session o...  [0, 0]
15863  concerns of island nations top final session o...  [0, 0]
15864  concerns of island nations top final session o...  [0, 0]
15865  concerns of island nations top final session o...  [0, 0]
15866  concerns of island nations top final session o...  [0, 0]

[15867 rows x 2 columns]

In [99]:
df['Exists'].str.split(',', expand=True)

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [95]:
temp_df

        0
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...    ..
15862 NaN
15863 NaN
15864 NaN
15865 NaN
15866 NaN

[15867 rows x 1 columns]

In [72]:

temp_df = pd.DataFrame(df['Exists'].to_list(), columns = ['Exists1', 'Exists2'])
df['Exists1'] = temp_df['Exists1']
df['Exists2'] = temp_df['Exists2']

In [78]:
model_bert = SentenceTransformer('bert-base-nli-max-tokens')
query_embedding_bert = np.array(model_bert.encode([query]
                                                  ,show_progress_bar=True
                                ))
cosine_similarities = cosine_similarity(query_embedding_bert, embedding_bert)

Batches: 100%|██████████| 1/1 [00:01<00:00,  1.71s/it]

In [80]:
df["cosine_similarities"] = pd.DataFrame(cosine_similarities).T
temp_df = df[(df['Exists1']==1) | (df['Exists2']==1)]
temp_df.sort_values(by= "cosine_similarities", ascending=False).head(10)

In [85]:
print(df["text"][11595])

 blueprint launched to manage earths fragile peatland carbon sinks 18 march 2020 climate and environment waterlevel data is key  indonesia leads way  urgent need to monitor peatlands in peru moreover the un agencys advice is being employed to protect and manage the coastal andean and amazonian peatlands